


<style type="text/css">
  @media print {
         .navbar {
          display: none;
         }

         .footerhide {
          display: none;
         }

         .copyrightfooter {
          display: none;
         }

         .holdit {
          display: none;
         }

         .printbtn {
          display: none;
         }
      }

      p {
        margin-bottom: 0px;
      }

      .whatsapp{
        display: none;
        color: #1DC143;
      }

      .whatsapp:hover, .whatsapp:focus{
        background: #1DC143;
        color: #fff;
        text-shadow: 0 0 1px rgba(0,0,0,0.2);
      }

      .whatsapp.activeWhatsapp{
        display: inline-block;
      }


</style>


<div class="container" id="content">
  <div class="row">
    <% if user_signed_in? %>
    <a href="/admindashboard" class="btn btn-dark printbtn" style="margin-top: 30px;">Go Back</a>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align: center;">
        <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/felisco-sun/feliscoslogoweb.png" style="height: 80px; width: 109px; margin-right:0px;">
      </p>
      <h3 style="text-align: center; text-transform: uppercase;">Felisco-Sun Ghana Limited</h3>
      <p style="text-align: center; text-transform: uppercase; font-size: 16px;">
        Tema Community 4, Felisco-Sun Ghana, P.O.Box 8, Tema, Ghana
      </p>
      <p style="text-align: center; font-size: 12px;">
        <span style="font-weight: 600;">Tel.</span> +233(0)248238541; +233(0)262129553 <span style="font-weight: 600;"> Email.</span> info@feliscosunghana.com <span style="font-weight: 600;"> Website.</span> www.feliscosunghana.com
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align: center; font-size: 25px; font-weight: 700; margin-top: 30px; text-transform: uppercase;">
        Shipping Order Receipt
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="rholder">
        <hr style="background-color: #000000;">
        <div class="row">
          <div class="col-lg-6 col-6">
             GATE IN<br><br>
            <p>
              <strong>Our ref:</strong>
              <%= @shippingorder.ourref %>
            </p>
            <p>
              <strong>From:</strong>
              <%= @shippingorder.fromcomp %>
            </p>
          </div>
          <div class="col-lg-6 col-6">
            <p>
              <strong>Date:</strong>
              <%= @shippingorder.created_at.strftime("%B %d, %Y") %>
            </p>
            <p>
              <strong>From:</strong>
              <%= @shippingorder.shippingline %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="rholder">
        <hr style="background-color: #000000;">
        <div class="row">
          <div class="col-lg-6 col-6">
           <p>
              <strong>Container No.:</strong>
              <%= @shippingorder.containerno %>
            </p>
            <p>
              <strong>ISO code:</strong>
              <%= @shippingorder.isocode %>
            </p>
          </div>
          <div class="col-lg-6 col-6">
            <p>
              <strong>FE Status:</strong>
              <%= @shippingorder.festatus %>
            </p>
            <p>
              <strong>Seal No(s):</strong>
              <%= @shippingorder.sealno %>
            </p>
            <p>
              <strong>B/L No:</strong>
              <%= @shippingorder.blno %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="rholder">
        <hr style="background-color: #000000;">
        <div class="row">
          <div class="col-lg-6 col-6">
            <p>
              <strong>Driver name:</strong>
              <%= @shippingorder.drivername %>
            </p>
            <p>
              <strong>Truck No.:</strong>
              <%= @shippingorder.trucknumber %>
            </p>
          </div>
          <div class="col-lg-6 col-6">
            <p>
              <strong>Driver ID:</strong>
              <%= @shippingorder.driverid %>
            </p>
            <p>
              <strong>From:</strong>
              <%= @shippingorder.truckcompany %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="rholder">
         <hr style="background-color: #000000;">
        <p>
          <strong><u>DAMAGE REPORT/INSPECTION REPORT</u></strong>
        </p>
        <p> 
          <%= @shippingorder.condition %>
        </p>
        <p style="text-align: right;">
          <%= image_tag(generate_qr("https://feliscosunghana.com" + @shippingorder.id.to_s), :class => "qr-code") %>
        </p>
        <% if user_signed_in? %>
        <button class="printbtn" onclick="window.print();">Print</button>
        <!-- <a href= "whatsapp://send?text=https://feliscosunghana.com<%= @shippingorder.id %>"
        data-action="share/whatsapp/share"
        target="_blank" style="color: blue;"> 
        Share to whatsapp 
    </a>  -->
        <!-- <a alt="Whatsapp" href="whatsapp://send" data-text="Text to share" data-href="https://feliscosunghana.com/<%= @shippingorder.id %>" class="whatsapp wa_btn"><span class="ion-social-whatsapp"></span> Whatsapp</a> -->
        <a href="https://wa.me/?text=https://feliscosunghana.com/shippingorders/<%= @shippingorder.id %>" class="btn btn-success" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> Share to Whatsapp</a>
        <button id="cmd">Generate PDF</button>
        <% end %>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
<div id="editor"></div>

<script type="text/javascript">
  var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmd').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });
</script>










